*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 70vh;
    background-color: pink;
    width: 400px;
    margin-top: 100px;

}
