:root{
    --primary-bg-color: #142f44;
    --output-color: #a2bbcf;
    --equals-color: #FF6F61;
    --ac-color: #4EF0C8;
    --operation-color: #FFB300;
    --num-color: white;
}

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 30px;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 460px;
    background-color: var(--primary-bg-color);
    width: 400px;
    margin-top: 100px;
}

.row{
    margin: 10px;
    width: 95%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.output-box{
    height: 100%;
    width: 300px;
    background-color:  	var(--output-color);
    color: azure;
    text-align: right;
}

#prev-num-inp{
    height: 30%;
    font-size: 26px;
}

#current-num-inp{
    height: 70%;
    align-content: center;
}


.calculator-btn{
    width: 80px;
    border: none;
    border-radius: 3px;
    background-color: var(--num-color);
    
}

.calculator-btn:disabled{
    background-color: var(--num-color);
}


/* Specific Buttons */


#equals-btn{
    background-color: var(--equals-color);
}

#ac-btn{
    background-color: var(--ac-color);
    width: 87px;
}

.operation{
    background-color: var(--operation-color);
}

/* Button when hovered */

.calculator-btn:hover{
    opacity: 0.7;
    cursor: pointer;
}